@import "../newcss/unsemantic-grid-responsive-tablet.css";
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

header{
    background-color: green;
}

aside{
    background-color: red;
}

main{
    background-color: blue;
}

footer{
    background-color: yellow;
}

#bottom{
    background-color: purple;
}

#section1{
    background-color: orange;
}

#section2{
    background-color: palegreen;
}

#section3{
    background-color: fuchsia;
}