

*{
    margin:0;
    padding:0;
}

#container{
    width:80%;
    margin:10px auto;


}

header{
    background-color: #a6e1ec;
    height: 80px;
}
#main{
    background-color: #9d9d9d;
    height:300px;
    min-height: 300px;

}

#column1{
    background-color: #2e6da4;
    width:60%;
    min-height: 300px;
    float:left;

}

#sidebar{
    background-color: #843534;
    margin-left: 60%;
}

footer{
    background-color: #2b542c;
    height:60px;
}


