

*{
    margin:0;
    padding:0;
}

#container{
    width:80%;
    margin:10px auto;


}

header{
    background-color: #a6e1ec;
    height: 80px;
}
#main{
    background-color: #9d9d9d;
    height:300px;
}

footer{
    background-color: #2b542c;
    height:60px;
}


