

*{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container{
    width:80%;
    margin:10px auto;


}

header{
    background-color: #a6e1ec;
    height: 80px;
}
#main{
    background-color: #9d9d9d;
    height:300px;
    min-height: 300px;
    overflow:hidden;


}

#column1{
    background-color: #2e6da4;
    width:60%;
    min-height: 300px;
    float:left;

}

#sidebar{
    background-color: #843534;
    margin-left: 60%;
}

footer{
    background-color: #2b542c;
    min-height:60px;
}

#nav{
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}
#nav > li{
    display: inline-block;
    padding-right: 50px;
}
#nav > li > a{
    text-decoration: none;
    color: #ffffff
}

#nav > li > a:hover {
    color:#c1c1c1;

}






