

*{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container{
    width:80%;
    margin:10px auto;


}

header{
    background: #000000 url(http://www.lboro.ac.uk/media/wwwlboroacuk/external/content/research/sti/slide1-image-tablet.png) 100% 100% no-repeat;
    background-color: #ec99d7;
    height: 200px;
}
#main{
    background-color: #ffffff;

    min-height: 300px;
    overflow:hidden;


}

#column1{
    background-color: #CAE4DB;
    width:60%;
    min-height: 300px;
    float:left;

}

#sidebar{
    background-color: #00303F;
    margin-left: 60%;
    min-height: 300px;
    color: #ffffff;
}

footer{
    background-color: #DCAE1D;
    min-height:30px;
    text-align: center;
    color: #00303f;
}

#nav{
    background-color: #00303f;;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}
#nav > li{
    display: inline-block;
    padding-right: 50px;
    font-size: 15px;

}
#nav > li > a{
    text-decoration: none;
    color: #ffffff
}

#nav > li > a:hover {
    color:#c1c1c1;

}

img {
    border-radius: 8px;
}







