
@import url('https://fonts.googleapis.com/css?family=Nova+Script');


*{
    margin:0;
    padding:0;
    font-family: 'Nova Script', cursive;
}

body{
    font-family: 'Nova Script', cursive;
}

#container{
    width:80%;
    margin:10px auto;


}

header{
    background-color: #a6e1ec;
    min-height: 80px;
}
#main{
    background-color: #ffffff;

    min-height: 300px;
    overflow:hidden;


}

#column1{
    background-color: #CAE4DB;
    width:60%;
    min-height: 300px;
    float:left;

}

#sidebar{
    background-color: #00303F;
    margin-left: 60%;
    min-height: 300px;
}

footer{
    background-color: #DCAE1D;
    min-height:30px;
    text-align: center;
    color: #00303f;
}

#nav{
    background-color: #00303f;;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}
#nav > li{
    display: inline-block;
    padding-right: 50px;
}
#nav > li > a{
    text-decoration: none;
    color: #ffffff
}

#nav > li > a:hover {
    color:#c1c1c1;

}

#nav > img{
    float:left;
}

form {
    text-align: center;
}
a > h1{
    text-decoration: none;
}









