body
{
    font-family: Arial;
}



.ulProducts {
    display:inline-block;
    margin-left: calc(60% - 700px);
    box-shadow: 10px 10px 5px #888888;
    height: 800px;
    overflow:hidden;
    overflow-y:scroll;

}

    .display  {
    float:left;
    font-size:20px;
    padding:10px;
    transition:all ease-in-out 0.3s;
    margin:20px;
        display: inline-block;
        }

.display:hover {
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    cursor: pointer;
}

.display2  {
    display: inline-block;
    float:left;
    font-size:20px;
    padding:10px;
    transition:all ease-in-out 0.3s;
    margin:20px;


}

.formBox{
    border: solid #080808;
}

hr.pacman {
    border: 0;
    height: 25px;
    background-image: url('http://www.formget.com/wp-content/uploads/2014/12/type_3.png');
}


