body
{
    font-family: Arial;
}



.ulProducts {
    display:inline-block;
    margin-left: calc(60% - 800px);
}

    .display  {
        margin-top: 50px;
    display:inline;
    float:left;
    margin-left:35px;
    margin-bottom:5px;
    font-size:20px;
    padding:10px;
    transition:all ease-in-out 0.3s;
    margin:20px;
        display: inline-block;
        }

.display:hover {
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}

.display2  {
    height:300px;
    width:500px;
    display:inline;
    float:left;
    margin-left:35px;
    margin-bottom:5px;
    font-size:20px;
    padding:10px;
    transition:all ease-in-out 0.3s;
    margin:20px;
}

.formBox{
    border: solid #080808;
}

hr.pacman {
    border: 0;
    height: 25px;
    background-image: url('http://www.formget.com/wp-content/uploads/2014/12/type_3.png');
}


