form{
    height:100%;
}

nav {
    width: 100%;
    height: 48px;
   background: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

nav {
    text-align: center;
}

nav ul li:hover > ul {
    overflow: visible;
    max-height: 1240px;
    opacity: 1;
}

nav ul li:hover > ul li {
}

nav ul {
    margin: 0;
    list-style: none;
    position: relative;
    display: inline-table;
    z-index:1;

}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
    height: 48px;
    line-height: 48px;
    transition: background 0.3s ease;

}

nav ul li:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav ul li:hover > a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 0 40px;
    color: #000000;
    text-decoration: none;
}

nav ul ul {
    display: block;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: -webkit-linear-gradient(rgba(35, 43, 85, 255), rgba(35, 43, 85, 255));
    background: linear-gradient( rgba(255, 255, 255, 255), rgba(255, 255, 255, 255));
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

nav ul ul li {
    float: none;
    position: relative;

}

nav ul ul li a {
    display: block;
    padding: 0 40px;
    color: #000000;
    text-decoration: none;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

.right
 {
    float: right !important;
    margin-right: 60px;

}
