li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

div.clubs {
    background-color: black;
    color: white;
    margin: 20px 50px 20px 50px;
    padding: 20px;
}

div.clubcolumn {
    float: left;
    width: 33%;
    border-style: solid;
}

div.clubDetails {
  float: left;
  width: 80%;
  border-style: solid;
}

div.clubInfo {
  margin: 20px 20px 20px 320px;
}

div.clubUserList {
  float: left;
  width: 500px;
  background-color: yellow;
  overflow-y: scroll;
}

div.footer {
  width: 100%;
  align-content: center;
}
