/* give it the full monty */
#map {
  height:500px;
  width:100%;
  overflow: scroll;

}
.heading {
  max-height: 130px;
}

/* sidebar margins and styling */

.control-list {
  padding-left: 0%;
  margin-left: 0;
  list-style: none;
  list-style-type: none;

}


/* Toggle Styles */
