#map {

  height:100%;
  width:auto;
  display:block;
  padding:inherit;
  margin: auto;
}

 body {
    overflow-x: hidden;
 }
.heading {
  max-height: 130px;
}

/* sidebar margins and styling */

.control-list {
  padding-left: 0%;
  margin-left: 0;
  list-style: none;
  list-style-type: none;

}


/* Toggle Styles */
